body{
    width: 80%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)),url("../bg_1.png");
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;

}

h1 {
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 22px;
}
  
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox{    
            width: 320px;
            height: 620px;
            background: #000;
            color: #fff;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%,-50%);
            box-sizing: border-box;
            padding: 55px 25px;
        }

label {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input[type="text"], input[type="password"], input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
        }

.loginbox input[type="file"] {
            margin-top: 10px;
        }

.loginbox input[type="submit"] {
            border: none;
            outline: none;
            height: 40px;
            background: #2e0ebd;
            color: #fff;
            font-size: 18px;
            border-radius: 20px;
        }

.loginbox input[type="submit"]:hover {
            cursor:pointer;
            background: #254cc1;
            color:#000
        }

        .error {
            color: red;
            margin-top: 5px;
        }

        .success {
            color: green;
            margin-top: 5px;
        }

        .loginbox a{
            text-decoration: none;
            font-size: 14px;
            line-height: 20px;
            color: darkgray
        }
        
        .loginbox a:hover{
            color: rgb(52, 139, 156)
        }