@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)),url("../bg_1.png");*/

}

#bg{
    width: 80%;
    height: 100vh;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)),url("../bg_1.png");*/
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;

}

h3{
    background-color: white;
}

table tr th{
    background-color: #6889ed;
    color: white;
    border-radius: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table tbody tr{
    border-bottom: 1px solid;
}

table tbody tr:nth-of-type(even){
    background-color: rgb(180, 179, 179);
}

#pie-chart-container {
    position: relative;
    width: 400px;
    height: 400px;
    font-size: large;
    font-weight: bold;
    margin-right: 120px;
}

.main--content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header--wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header--title{
    color: #254cc1;
}

.highlight {
    background-color: yellow;
}

/*.user--info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search--box{
    background: rgba(237, 237, 237);
    border-radius: 15px;
    color: #254cc1;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;

}

.search--box input{
    background: transparent;
    padding: 10px;
}

.search--box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
*/
.search-box i:hover{
    transform: scale(1.2);
}

.search-container {
    text-align: center;
    margin-top: 20px;
  }
  
  input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 20px;
    background-color: #254cc1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3286e0;
  }
  
  #searchResults {
    margin-top: 20px;
  }
  

